<h1>Welcome to Noni's International Food Emporium</h1>
<h4>Home of world renowned cuisine!</h4>

<h4>About us</h4>

<p>Being a first generation American from Italy and born in Oregon our family struggled to find the kinds of ethnic foods we love!</p>
<p>So in 1945 we founded our store and have strived to provide the best selection of Italian and International cuisine you will find anywhere!</p>
<p>We hope you find all that you need but please feel free to let us know what we can do get any specialty items you crave!</p>





<p><%= link_to "Products", products_path %></p>

